# Compilation
webserv
build/
obj/
*.o
*.a

# Testers
cgi_tester
tester

# Logs
*.log

# Runtime uploads
www/uploads/*
!www/uploads/
!www/uploads/upload_test.txt

# Subject and Correction
*.pdf

# VS Code
.vscode/
